.sgs-input{
    width: 100%;   
    margin: 16px 0;
    box-sizing: border-box;
}
.sgs-container{
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;

}


