.ul-list{
    overflow-y:auto;
    max-height: calc(5*64px);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ul-article{    
    background-color: rgb(29, 29, 29);
    padding: 8px;
}

.ul-article hr{
    opacity: 0.25;
    margin-bottom: 8px;
}