:root {


    --container-max-width: calc((var(--mv-widht))*var(--movie-column) + var(--movie-gap)*var(--movie-column));
}

#root {
    min-width: var(--container-max-width);
}


h1 {
    margin: 1rem 0 0 0;
    padding: 0;
}
