:root{
    --movie-gap: 16px;
    --movie-column: 5;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--mv-widht), 1fr));
    max-width: calc((var(--mv-widht))*var(--movie-column) + var(--movie-gap)*var(--movie-column));
    gap: var(--movie-gap);
    text-align: center;
}

#root{
    min-width: calc((var(--mv-widht))*var(--movie-column) + var(--movie-gap)*var(--movie-column));
}

h1{
    margin: 0;
    padding: 0;
}