.fl-container, .fl-container fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.fl-container fieldset{
    gap:1rem;
    flex-direction: row;
    padding: 8px;
    border: none;
    box-sizing: border-box;
}

.fl-container input{
    width: 100%;
}

.fl-container label{
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
}

.fl-error{
    justify-content: center;
    color: #EF4444;
    font-weight: bold;
}